/* styles.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  top: 0;
  left: 0%;
  right: 0px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background:red; */
  padding: 10px 20px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  z-index: 1000;
}

.search-bar {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 25px;
  overflow: hidden;
  width: 500px;
  margin-left: 100px;
}

.search-bar input {
  border: none;
  padding: 10px;
  outline: none;
  flex: 1;
}

.search-bar .key {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}
.search-bar .sea {
  padding: 14px 29px 14px 24px;
  cursor: pointer;
  /* background:#dcdcdc; */
  border: none;
  color: black;
}

.header-icons {
  display: flex;
  align-items: center;
  margin-left: 0px;
}

.header-icons button,
.header-icons .user-avatar {
  margin-left: 15px;
  background: none;
  border: none;
  cursor: pointer;
}
.header-icons button i {
  font-size: 26px;
}

.header-icons .user-avatar img {
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
}

.sidebar {
  width: 240px;
  background-color: #fff;
  padding: 20px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  height: 100vh;
  position: fixed;
  top: 0px;
  overflow-y: auto;
  z-index: 999;
}

.sidebar .logo {
  margin-left: 10px;
}
.sidebar .menu {
  display: none;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  position: absolute;
  top: 100px;
  left: 3%;
}
.sidebar nav ul {
  list-style: none;
  padding: 0;
}
.titleNav {
  font-weight: bold;
}
.titleNav i {
  font-size: 18px;
}
.sidebar nav ul li {
  margin-bottom: 20px;
  cursor: pointer;
}
.sidebar nav ul li i {
  font-size: 22px;
  margin-right: 30px;
}
.main-content {
  margin-left: 240px;
  padding: 80px 20px 20px;
  flex: 1;
}

.shorts-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 340px;
}
/* @media (max-width: 1920px) {
  .shorts-container {
    margin-left: 420px;
  }
}
@media (max-width: 1440px) {
  .shorts-container {
    margin-left: 320px;
  }
}
  */
@media (max-width: 1331px) {
  .shorts-container {
    margin-left: 180px;
  }
}
@media (max-width: 991px) {
  .shorts-container {
    margin-left: 100px;
  }
}
@media (max-width: 450px) {
  .shorts-container {
    margin-left: 50px;
  }
} 
.shorts-video {
  position: relative;
  width: 100%;
  max-width: 350px;
  height: 600px;
  border-radius: 6%;
  z-index: 99;
}
.shorts-video video {
  width: 100%;
  height: 100%;
  border-radius: 6%;
}

.shorts-details {
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  background-color: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  border-radius: 6%;
  z-index: 98;
  background: rgba(0, 0, 0, 0, 5);
}

.shorts-details img {
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
}

.details-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.details-text p {
  font-size: 14px;
}
.shorts-interactions {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interaction {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  color: #000;
}

.interaction i {
  font-size: 24px;
  padding: 14px;
  border-radius: 100%;
  background: #dcdcdc;
}
.interaction i:hover {
  background: black;
  color: white;
}
.interaction span {
  margin-top: 5px;
  font-size: 14px;
}
.interaction1 i {
  font-size: 22px;
  padding: 14px 23px 14px 23px;
  border-radius: 100%;
  background: #dcdcdc;
}
.interaction1 i:hover {
  background: black;
  color: white;
}
.interaction2 {
  margin-top: 12px;
  /* padding: 14px 23px 14px 23px; */
  background: gray;
  border-radius: 8px;
}
.interaction2 img {
  max-width: 45px;
  max-height: 45px;
  border-radius: 8px;
}
.avtVideo {
  display: flex;
  align-items: center;
  flex: row;
}
.avtVideo p {
  margin-left: 5px;
  margin-right: 5px;
}
.avtVideo button {
  padding: 8px;
  border-radius: 20px 20px 20px 20px;
  border: none;
}

.searchHeader {
  display: flex;
  align-items: center;
  flex: row;
}
.searchHeader .mic {
  border-radius: 50%;
  margin-left: 10px;
  font-size: 18px;
  border: none;
}
.searchHeader .mic i {
  padding: 10px 8px 10px 8px;
}
//video hiden media
video::-webkit-media-controls {
  display: none;
}

.barLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* ;  position:fixed;
  top:0;
  left:3% */
  z-index: 1000;
  background: white;
}
.barLogo .logo img {
  max-width: 150px;
  height: auto;
}
.barLogo .barClick {
  font-size: 22px;
  margin-bottom: 3px;
}
.menuIcon {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  left: 0%;
}
.iconMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iconMenu i {
  font-size: 24px;
}
.iconMenu p {
  font-size: 12px;
}
.backToTop {
  position: fixed;
  bottom: 40%;
  right: 2%;
}
.backToTop button {
  padding: 14px 18px 14px 18px;
  background: #dcdcdc;
  border-radius: 50%;
  border: none;
}
.backToTop button:hover {
  background: black;
  color: white;
}
.backToTop button i {
  font-size: 23px;
}
.backToTop .toTop {
  margin-bottom: 10px;
}
.hidden {
  display: none;
}
